<!DOCTYPE html>
<html>

<head>
    <title>Comment Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
</head>

<body>
    <nav class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-logo">Buustle</a>
        <ul>
            <li><a href="/create_post">Create a Post</a></li>
            <li class="right"><a href='/profile/{{ current_user.UserID }}'>Profile</a></li>
            <li class="right"><a href="/notifications">Notifications</a></li>
            <li class="right"><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="content">
            <h1>Comment Page</h1>
            <h2>Write a Comment</h2>
            <form method="post" action="{{ url_for('comment_post', post_id=post.PostID) }}">
                <textarea name="comment" rows="4" cols="50" placeholder="Write your comment here" required></textarea>
                <br>
                <button type="submit" class="comment-button">Submit Comment</button>
            </form>
        </div>
    </div>

</body>

</html>
