<!DOCTYPE html>
<html>

<head>
    <title>Create Post - Social Media</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/create_post.css') }}">
</head>

<body>
    <nav class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-logo">Buustle</a>
        <ul>
            <li><a href="/create_post">Create a Post</a></li>
            <li class="right"><a href='/profile/<user_id>'>Profile</a></li>
            <li class="right"><a href="/notifications">Notifications</a></li>
            <li class="right"><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>Create a Post</h1>
        <form method="POST" action="/create_post">
            <textarea id="post-content" name="content" placeholder="What's on your mind?" required></textarea>
            <button type="submit">Post</button>
        </form>
    </div>
</body>

</html>
