<!DOCTYPE html>
<html>

<head>
    <title>Social Media Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/logreg.css') }}">
</head>

<body>
    <!-- Add this to your HTML body -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <script>
            // Automatically hide flashed messages after 5 seconds (5000 milliseconds)
            setTimeout(function () {
                var flashMessages = document.querySelector('.flash-messages');
                if (flashMessages) {
                    flashMessages.style.display = 'none';
                }
            }, 5000); // Adjust the time as needed
        </script>
        {% endif %}
        {% endwith %}
    </div>
    <div class="login-container">
        <h1>Register a New Account</h1>
        <form method="POST" action="{{url_for('register')}}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" name="first-name" placeholder="Enter your first name" required>
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" name="last-name" placeholder="Enter your last name" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio" placeholder="Write a short bio about yourself"></textarea>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
</body>

</html>